<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yqz.webapp.mapper.OwnerMapper" >
  <resultMap id="BaseResultMap" type="com.yqz.webapp.dto.Owner" >
    <id column="owner_id" property="owner_id" jdbcType="INTEGER" />
    <result column="owner_name" property="owner_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    owner_id, owner_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yqz.webapp.dto.OwnerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from owner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from owner
    where owner_id = #{owner_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from owner
    where owner_id = #{owner_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yqz.webapp.dto.OwnerExample" >
    delete from owner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yqz.webapp.dto.Owner" >
    insert into owner (owner_id, owner_name)
    values (#{owner_id,jdbcType=INTEGER}, #{owner_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yqz.webapp.dto.Owner" >
    insert into owner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="owner_id != null" >
        owner_id,
      </if>
      <if test="owner_name != null" >
        owner_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="owner_id != null" >
        #{owner_id,jdbcType=INTEGER},
      </if>
      <if test="owner_name != null" >
        #{owner_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yqz.webapp.dto.OwnerExample" resultType="java.lang.Integer" >
    select count(*) from owner
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update owner
    <set >
      <if test="record.owner_id != null" >
        owner_id = #{record.owner_id,jdbcType=INTEGER},
      </if>
      <if test="record.owner_name != null" >
        owner_name = #{record.owner_name,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update owner
    set owner_id = #{record.owner_id,jdbcType=INTEGER},
      owner_name = #{record.owner_name,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yqz.webapp.dto.Owner" >
    update owner
    <set >
      <if test="owner_name != null" >
        owner_name = #{owner_name,jdbcType=VARCHAR},
      </if>
    </set>
    where owner_id = #{owner_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yqz.webapp.dto.Owner" >
    update owner
    set owner_name = #{owner_name,jdbcType=VARCHAR}
    where owner_id = #{owner_id,jdbcType=INTEGER}
  </update>
</mapper>