<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yqz.webapp.mapper.PetMapper">
	<resultMap id="BaseResultMap" type="com.yqz.webapp.dto.Pet">
		<id column="pet_id" property="petId" jdbcType="INTEGER" />
		<result column="pet_name" property="petName" jdbcType="VARCHAR" />
		<result column="pet_type" property="petType" jdbcType="INTEGER" />
		<result column="owner_id" property="ownerId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		pet_id, pet_name, pet_type, owner_id, create_time
	</sql>
	<select id="getPetList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from pet limit #{pageIndex},#{pageSize}
	</select>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.yqz.webapp.dto.PetExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from pet
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from pet
		where pet_id = #{petId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from pet
		where pet_id = #{petId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.yqz.webapp.dto.PetExample">
		delete from pet
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.yqz.webapp.dto.Pet">
		<selectKey resultType="java.lang.Integer" keyProperty="petId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pet (pet_name, pet_type, owner_id,
		create_time)
		values (#{petName,jdbcType=VARCHAR}, #{petType,jdbcType=INTEGER},
		#{ownerId,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.yqz.webapp.dto.Pet">
		<selectKey resultType="java.lang.Integer" keyProperty="petId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into pet
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="petName != null">
				pet_name,
			</if>
			<if test="petType != null">
				pet_type,
			</if>
			<if test="ownerId != null">
				owner_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="petName != null">
				#{petName,jdbcType=VARCHAR},
			</if>
			<if test="petType != null">
				#{petType,jdbcType=INTEGER},
			</if>
			<if test="ownerId != null">
				#{ownerId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.yqz.webapp.dto.PetExample"
		resultType="java.lang.Integer">
		select count(*) from pet
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update pet
		<set>
			<if test="record.petId != null">
				pet_id = #{record.petId,jdbcType=INTEGER},
			</if>
			<if test="record.petName != null">
				pet_name = #{record.petName,jdbcType=VARCHAR},
			</if>
			<if test="record.petType != null">
				pet_type = #{record.petType,jdbcType=INTEGER},
			</if>
			<if test="record.ownerId != null">
				owner_id = #{record.ownerId,jdbcType=INTEGER},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update pet
		set pet_id = #{record.petId,jdbcType=INTEGER},
		pet_name = #{record.petName,jdbcType=VARCHAR},
		pet_type = #{record.petType,jdbcType=INTEGER},
		owner_id = #{record.ownerId,jdbcType=INTEGER},
		create_time = #{record.createTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.yqz.webapp.dto.Pet">
		update pet
		<set>
			<if test="petName != null">
				pet_name = #{petName,jdbcType=VARCHAR},
			</if>
			<if test="petType != null">
				pet_type = #{petType,jdbcType=INTEGER},
			</if>
			<if test="ownerId != null">
				owner_id = #{ownerId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where pet_id = #{petId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yqz.webapp.dto.Pet">
		update pet
		set pet_name = #{petName,jdbcType=VARCHAR},
		pet_type = #{petType,jdbcType=INTEGER},
		owner_id = #{ownerId,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where pet_id = #{petId,jdbcType=INTEGER}
	</update>
</mapper>